.table {
    border: 1px solid black;
    border-collapse: collapse;
}


tr td {
    border: 1px solid black;
}

.input {
    margin-bottom: 50px;
}

.data{
    border: 1px solid black;
    padding: 3px;
}

.col {
    margin-top: -20px;
    position: relative;
    bottom: 20px;
}